.modal {
  position: absolute;
  padding: 40px;
  left: 50%;
  top: 50%;
  height: 581px;
  width: 528px;
  transform: translate(-50%, -50%);
  background-color: var(--primary-white-color);
}

.close-icon {
  width: 11px;
  height: 11px;
}

.close-button {
  position: absolute;
  padding: 0;  
  top: 7px;
  right: 8px;
  width: 30px;
  height: 30px;  
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  transition: fill var(--timing) var(--transition-function);

  &:focus,
  &:hover {
  fill: var(--accent-color);
  }
}