.activity_section {
  padding-top: 0;
}

.activity_list {
  display: flex;
  align-items: center;
  margin-left: -30px;
  margin-right: -30px;
}

.activity_item {
  flex-basis: calc(100% - 90px) / 3;
  margin-left: 30px;
  margin-left: 30px;
}

.activity-image-wraper {
  position: relative;
  display: flex;
}

.activity_title {
  @include font(700, 14px, 1.14);
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  bottom: 0;
  width: 100%;
  height: 70px;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  background: rgba(47, 48, 58, 0.8);
}
