.clients-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: calc(-1 * 30px);
  margin-left: calc(-1 * 30px);
}

.clients-item {
  flex-basis: calc((100% - 180px) / 6);
  margin-top: 30px;
  margin-left: 30px;
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
  border-radius: 4px;      
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  color: #afb1b8;
  transition: color var(--timing) var(--transition-function),
  border-color var(--timing) var(--transition-function);

  &:hover,
  &:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
  }
}

.clients-list-icon {
  fill: currentColor;
}