.footer {
  padding-bottom: 60px;
  padding-top: 60px;
  background-color: var(--font-color);
}

.footer-container {
  display: block;

  @media screen and (max-width: 1199px) {
    text-align: center;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}

.logo-footer {
  color: var(--primary-white-color);
  display: block;
  margin-bottom: 20px;

  @media screen and (min-width: 1200px) {
    margin-right: auto;
  }
}

.adress {
  margin-bottom: 9px;
  line-height: 2;
  text-decoration: none;
  color: var(--primary-white-color);
  transition: color var(--timing) var(--transition-function);

  &:focus,
  &:hover {
    color: var(--accent-color);
  }
}

.adress-footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }
}

.adress-item:not(:last-child) {
  margin-bottom: 9px;
}

.adress-list {
  margin-right: auto;
}

.contact-footer {
  margin-top: 10px;
  font-family: Roboto;
  line-height: 1.71;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--timing) var(--transition-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.invitation {
  @include font(700, 20px, 1.14);
  font-size: 14px;
  text-transform: uppercase;
  color: var(--primary-white-color);

  @media screen and (max-width: 1199px) {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

.social-footer-link {
  margin-bottom: 60px;
  background-color: rgba(255, 255, 255, 0.1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.social-footer {
  display: flex;
  margin-top: 60px;
  @media screen and (min-width: 768px) {
    margin-left: 70px;
  }

  @media screen and (min-width: 768px) {
    display: block;
    text-align: justify;
    margin-top: 0;
  }

  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
  }
}

.social-footer-icon {
  width: 20px;
  height: 20px;
  fill: var(--primary-white-color);
}

.social-footer-list {
  display: flex;
  justify-content: center;
  @media screen and (min-width: 1199px) {
    margin-top: 0;
  }
}

.sign-footer {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 1200px) {
    width: 570px;
    margin-left: auto;
  }
}

.sign-footer-form {
  display: flex;
  @media screen and (max-width: 1199px) {
    flex-direction: column;
    align-items: center;
  }
}

// .invitation-form {
//   position: relative;
// }
