.header {
  border-bottom: 1px solid #eeeeee;

  &-container {
    display: flex;
    align-items: center;
  }
}

.navigation {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;

  & .menu_item:not(:last-child) {
    margin-right: 50px;
  }
}

.contact-list {
  display: flex;
  margin-left: auto;
  align-items: center;

  & .contact_item:not(:last-child) {
    margin-right: 50px;
  }
}

.logo_inclusion {
  color: var(--accent-color);
}

.header_logo {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 90px;
  color: var(--primary-text-color);
  transition: color var(--timing) var(--transition-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.menu_link {
  padding-bottom: 32px;
  padding-top: 32px;
  cursor: pointer;
  @include font(500, 14px, 1.14);
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
  transition: color var(--timing) var(--transition-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contact_icon {
  margin-right: 10px;
  fill: currentColor;
}

.header_contact-link {
  display: flex;
  align-items: center;
  padding-bottom: 32px;
  padding-top: 32px;
  @include font(500, 14px, 1.14);
  text-decoration: none;
  color: var(--paragraph-text-color);
  transition: color var(--timing) var(--transition-function),
    fill var(--timing) var(--transition-function);

  &:hover,
  &:focus {
    fill: var(--accent-color);
    color: var(--accent-color);
  }
}

.menu_link.current {
  position: relative;
  color: var(--accent-color);

  &::after {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}
