:root {
  --primary-white-color: #ffffff;
  --primary-text-color: #212121;
  --paragraph-text-color: #757575;
  --accent-color: #2196f3;
  --hero-button-color: #188ce8;
  --font-color: #2f303a;
  --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --card-set-gap: 30px;
  --transition-function: cubic-bezier(0.4, 0, 0.2, 1);
  --timing: 250ms;
}